@use "../../styles/global" as *;

.HeroSection {
  @include mq-pc() {
    padding: vw(64) 0;
  }
  @include mq-sp() {
    padding: 32px 0;
  }

  .HeroSection__inner {
    display: flex;
    align-items: center;
    @include mq-pc() {
      gap: 0 vw(32);
    }
    @include mq-sp() {
      flex-direction: column;
      gap: 32px 0;
    }
  }

  .HeroSection__body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @include mq-pc() {
      flex: 1;
    }
  }

  .HeroSection__label {
    color: color(primary);
    font-weight: 700;
    letter-spacing: 0.1em;
    display: inline-block;
    @include mq-pc() {
      font-size: vw(12);
    }
    @include mq-sp() {
      width: fit-content;
      font-size: 12px;
      background-color: rgba(color(primary), 0.1);
      border-radius: 4px;
      padding: 4px 12px;
    }
  }

  .HeroSection__title {
    font-weight: 900;
    line-height: 1;
    letter-spacing: -0.01em;
    @include mq-pc() {
      font-size: vw(60);
    }
    @include mq-sp() {
      font-size: 48px;
    }
  }

  .HeroSection__title-highlight {
    @include mq-sp() {
      color: color(primary);
    }
  }

  .HeroSection__description {
    color: color(text-gray1);
    letter-spacing: 0.01em;
    line-height: 1.6;
    @include mq-pc() {
      max-width: vw(560);
      font-size: vw(18);
    }
    @include mq-sp() {
      font-size: 18px;
    }
  }

  .HeroSection__description--pc {
    @include mq-sp() {
      display: none;
    }
  }

  .HeroSection__description--sp {
    @include mq-pc() {
      display: none;
    }
  }

  .HeroSection__buttons {
    display: flex;
    flex-wrap: wrap;
    @include mq-pc() {
      gap: 0 vw(16);
    }
    @include mq-sp() {
      gap: 16px;
    }

    * + & {
      @include mq-pc() {
        margin-top: vw(16);
      }
    }
  }

  .HeroSection__image {
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    @include mq-pc() {
      width: vw(600);
    }
    @include mq-sp() {
      width: 100%;
    }

    img {
      width: 100%;
      height: auto;
      vertical-align: top;
      @include mq-sp() {
        border-radius: 12px;
      }
    }
  }
}
