@use "../../styles/variables" as *;
@use "../../styles/global" as *;

.featuredProfessors {
  @include mq-pc {
    padding: vw(80) 0;
  }
  @include mq-sp {
    padding: 64px 0;
  }

  .featuredProfessors__inner {
    display: flex;
    flex-direction: column;
  }

  .featuredProfessors__headed {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @include mq-sp {
      display: contents;
    }
  }

  .featuredProfessors__viewAll {
    @include mq-pc {
      margin-bottom: vw(10);
    }
    @include mq-sp {
      order: 1;
      margin-left: auto;
      margin-top: 80px;
    }

    & + * {
      @include mq-sp {
        text-transform: uppercase;
      }
    }
  }

  .featuredProfessors__grid {
    display: grid;
    @include mq-pc {
      gap: vw(32);
      margin-top: vw(36);
      grid-template-columns: repeat(4, 1fr);
    }
    @include mq-sp {
      margin-top: 74px;
      grid-template-columns: 1fr;
      gap: 32px;
      & > * {
        &:nth-of-type(1) {
          order: 3;
        }
        &:nth-of-type(2) {
          order: 2;
        }
        &:nth-of-type(3) {
          order: 1;
        }
        &:nth-of-type(4) {
          order: 4;
        }
      }
    }
  }
}
